body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(115, 115, 194,0.8),rgba(235, 142, 235,0.5));
    background-repeat: no-repeat;
    text-align: center;
    line-height: 1;
}

.container{
    text-align: center;
}

.topSection{
    margin-top: 30px;
    text-align: center;
    padding: 10px;
} 

.topSection p{
    color:rgb(54, 54, 54)
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    border: 1px solid rgba(235, 142, 235,0.5)
}

.titleStyle{
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 100;
    font-family: 'Freestyle Script';
    margin: auto;
    padding: 10px;
}

#nav {
    width: 75%;
    margin:auto;
    color: #636363;
    padding: 1em;
    background-color: #f7f7f7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: default;
    text-align: center;
}

#nav ul {
    margin: 0;
    padding: 0;
   list-style: none;
}

#nav ul li {
    display: inline-block;
    padding: 0px 16px 0px 16px;
}

#nav ul li a {
    text-decoration: none;
    padding: 0 12px;
    color: black;
}

#nav ul li a.active {
    background-color: #ffffff;
    box-shadow: none;
}

/* #nav ul li a.icon {
    display: none;
} */

#main {
    background-color: #ffffff;
    color: #636363;
    border-radius: 0 0 0.25em 0.25em;
    /*border: solid;*/
    width: 75%;
    margin: auto;
    padding: 1em;
}

.topMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.leftCol{
    text-align: left;
}
.leftCol h2{
    text-align: center;
}

.leftColContent p{
    font-size: 20px;
    color: #7e0909;
}

.rightColImg {
    border-radius: 50px;
    /*height:250px;*/
    width: 80%;
    box-shadow: 2px 2px skyblue;
}

.midMainTop h4{
    text-align: justify;
}

.midMainTop p{
    text-align: justify;
}

.midMain ul{
    margin: 0;
    padding: 0;
   list-style: none;
}

.midMain ul li {
    display: inline-block;
    padding: 1em;
}
.midMain ul li img {
    height: 80px;
    width: 80px;
   /* border: 1px solid blueviolet;*/
}

#footer{
    margin: auto;
    width: 75%;
}

#footer ul{
    margin: 0;
    padding: 0;
   list-style: none;
}

#footer ul li {
    display: inline-block;
    padding: 1em;
}

@media screen and (max-width: 680px) {
    #nav{
        overflow: hidden;
        background-color: #f7f7f7;
        position: relative;
    }
    /* .active{
        color: black;
        padding: 0;
        text-decoration: none;
        font-size: 17px;
        display: block;
        background: none;
    } */
    #nav #parentUL #myLinks{
        display: none;
    }
    #nav #parentUL li{
        display: list-item;
    }
    #nav #parentUL #myLinks li{
        display: list-item;
    }
    #nav #parentUL #myLinks li a {
        color: black;
        padding: 5px 5px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }

    .icon {
        display: block;
        /*position: absolute;
        text-decoration: none;*/
        color: black;
      }

    .leftCol h2{
       font-size: small;
    }
    .leftColContent p{
        font-size: small;
        color: #7e0909;
    }
    

}
